<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friend codes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            background-color: white;
            justify-content: center;
            display: flex;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 22rem;
        }

        th {
            padding: .25rem .5rem;
        }

        thead {
            font-size: 1.25rem;
        }

        tbody th {
            font-weight: normal;
        }

        tbody tr:nth-child(odd) {
            background-color: #EAEAEA;
        }

        .pill {
            color: #2E2F32;
            background-color: rgba(0, 0, 0, 0.1);

            cursor: pointer;

            text-decoration: none;
            padding: 0 5px;
            border-radius: 16px;
            line-height: 20px;
            height: 20px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .pill > img {
            border-radius: 100%;
            vertical-align: top;
            background-color: white;

            position: relative;
            left: -2px;
            top: 2px;
            border: none;
            max-width: 100%;
            box-sizing: border-box;
        }

        .pill > span {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        .code > span:not(:last-of-type)::after {
            content: "-"
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>User</th>
        <th>Friend code</th>
    </tr>
    </thead>
    <tbody>
    {% for user_id, friend_code in codes.items() %}
        <tr>
            <th class="name">
                <span title="{{ user_id }}" class="pill">
                    <img src="{{ get_url(profiles[user_id].avatar_url) }}"
                         height="16" width="16" alt=""/>
                    <span>{{ profiles[user_id].displayname }}</span>
                </span>
            </th>
            <th class="code">
                {% for part in friend_code %}<span>{{ "%04d" | format(part) }}</span>{% endfor %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
